body{ 
    background: rgb(192, 189, 189); 
    font-family: roboto; 
    text-align: center; 
   } 
     
   h1{ 
    color: black; 
   } 
     
   .ketengah{ 
    margin: 10px auto; 
    width: 1150px; 
   } 
     
   .kotak{ 
    background: white; 
    width: 500px; 
    float: left; 
    height: 250px; 
    margin: 30px; 
   } 
     
   .gradient1 { 
    background: linear-gradient(#F6EA41, #F048C6); /* Standard syntax */ 
    background: -webkit-linear-gradient(#F6EA41, #F048C6); /* For Safari 5.1 to 
   6.0 */ 
    background: -o-linear-gradient(#F6EA41, #F048C6); /* For Opera 11.1 to 12.0 
   */ 
    background: -moz-linear-gradient(#F6EA41, #F048C6); /* For Firefox 3.6 to 15 
   */ 
   } 
     
   .gradient2 { 
    background: linear-gradient(to right, #F6EA41,#0CCDA3, #F048C6); /* Standard 
   syntax */ 
    background: -webkit-linear-gradient(left, #F6EA41,#0CCDA3, #F048C6); /* For 
   Safari 5.1 to 6.0 */ 
    background: -o-linear-gradient(right, #F6EA41,#0CCDA3, #F048C6); /* For Opera 
   11.1 to 12.0 */ 
    background: -moz-linear-gradient(right, #F6EA41,#0CCDA3, #F048C6); /* For 
   Firefox 3.6 to 15 */ 
   } 
     
   .gradient3 {   
          background: radial-gradient( #F6EA41,#0CCDA3, #F048C6); /* Standard syntax */ 
          background: -webkit-radial-gradient( #F6EA41,#0CCDA3, #F048C6); /* Safari 5.1 
   to 6.0 */ 
          background: -o-radial-gradient( #F6EA41,#0CCDA3, #F048C6); /* For Opera 11.6 
   to 12.0 */ 
          background: -moz-radial-gradient( #F6EA41,#0CCDA3, #F048C6); /* For Firefox 
   3.6 to 15 */ 
   } 
     
   .gradient4 { 
          background: radial-gradient(circle, #F6EA41,#0CCDA3, #F048C6); /* Standard 
   syntax */   
          background: -webkit-radial-gradient(circle,  #F6EA41,#0CCDA3, #F048C6); /* 
   Safari */ 
          background: -o-radial-gradient(circle,  #F6EA41,#0CCDA3, #F048C6); /* Opera 
   11.6 to 12.0 */ 
          background: -moz-radial-gradient(circle, #F6EA41,#0CCDA3, #F048C6); /* 
   Firefox 3.6 to 15 */ 
   }  